body {
  background-color: #8abdce;
  margin: 0;
}
h1 {
  padding-left: 10px;
}
.navbar ul {
  background-color: #0759bf;

  list-style-type: none;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.navbar li a {
  color: white;
  padding: 14px 16px;
  display: block;
}

.navbar li {
  float: left;
}

.profile_container {
  padding: 10px;
  height: 350px;
  width: 292px;
  border-style: solid;

}
.profile_container img {
  float: left;
  height: 250px;
  width: auto;
}
.profile_description {
  font-size: 105%;
}
